/* ========================GENERAL=============================== */
a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-text-color: #434455;
  --contacts-text-color: #434455;
  --title--text-color: #2e2f42;
  --nav-text-color: #2e2f42;
  --logo-color: #2e2f42;
  --accent: #4d5ae5;
  --primary-background-color: #e5e5e5;
  --team-background-color: #f4f4fd;
  --page-background-color: #2e2f42;
  --header-background-color: #fff;

  --primary-font-family: "Roboto", sans-serif;
  --primary-logo-font-family: "Raleway", sans-serif;
  --primary-font-size: 16px;
  --primary-line-height: 1.5;
  --primary-font-weight: 400;
  --primary-letter-spacing: 0.02em;
  --secondary-font-size: 20px;
  --secondary-line-height: 1.2;
  --secondary-font-weight: 500;
  --h1-font-size: 56px;
  --h1-font-weight: 700;
  --h1-line-height: 1.07;
  --h1-letter-spacing: 0.02em;
  --logo-font-size: 18px;
  --logo-font-weight: 700;
}

body {
  background-color: white;
}

.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  /* margin-left: 156px;margin-right: 156px; */
}
/* ========================GENERAL=============================== */
/* HEADER */

.Portfolio-header {
  border-bottom: 1.5px solid rgba(142, 143, 153, 0.2);
}

.header-conteiner {
  display: flex;
  align-items: center;
}

/* logo */

.logo-header {
  margin-right: 77px;
  color: var(--logo-color);

  font-family: var(--primary-logo-font-family);
  font-weight: var(--logo-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--primary-line-height);
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-web {
  color: var(--accent);
}

.logo-header:hover,
.logo-header:focus {
  color: var(--accent);
}
/* nav */

.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav .nav-link {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
  color: var(--nav-text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

/* contacts */
.contacts {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.contacts .contacts-link {
  color: var(--contacts-text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent);
}
/* MAIN */

.Portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* page */

.page {
  padding-top: 192px;
  padding-bottom: 192px;
  text-align: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 510px;

  color: white;
  font-family: var(--primary-font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
}

/* button */

.buttons {
  display: flex;
  margin-bottom: 72px;
}

.buttons-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.page-buttons {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: #e7e9fc;
  color: var(--accent);

  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  letter-spacing: 0.04em;
  cursor: pointer;
}

.page-buttons:hover,
.page-buttons:focus {
  background-color: var(--accent);
  color: rgb(255, 255, 255);
}

.page-button {
  padding: 16px 32px;

  background-color: var(--accent);
  color: rgb(255, 255, 255);

  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

/* advantages */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list::before {
  display: block;
  content: " ";
  height: 112px;
  width: 264px;
  background: #f4f4fd;
  border-radius: 4px;
  background-image: url(../img/strategy.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item {
  flex-basis: 264px;
}

.advantages-title {
  margin-bottom: 8px;
  color: var(--title--text-color);

  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.advantages-text {
  color: var(--primary-text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.gifts {
  padding-bottom: 120px;
}

.gifts-title {
  margin-bottom: 72px;

  color: var(--title--text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}

.gifts-list {
  display: flex;
  gap: 24px;
}

.Portfolio-gifts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.Portfolio-gifts-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: auto;
  border-top: none;
  border: 0.5px #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.Portfolio-gifts-title {
  margin-bottom: 8px;

  color: var(--title--text-color);
  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 20px;
  list-style: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-name {
  margin-bottom: 32px;

  color: var(--primary-text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.description {
  color: var(--primary-text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

/* team*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 72px;

  color: var(--title--text-color);

  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  text-align: center;
}

.team-foto {
  margin-bottom: 32px;
}

.team-name {
  margin-bottom: 8px;

  color: var(--title--text-color);
  font-family: var(--primary-font-family);
  font-weight: var(--secondary-font-weight);
  font-size: 20px;
  list-style: 1.2;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: var(--page-background-color);
}

.web-footer {
  color: var(--accent);
}

.logo-footer {
  margin-bottom: 16px;
  color: #f4f4fd;

  font-family: var(--primary-logo-font-family);
  font-weight: var(--logo-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--primary-line-height);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent);
}

.footer-text {
  max-width: 264px;
  color: #e7e9fc;

  font-family: var(--primary-font-family);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
}
